{% extends "otree/Page.html" %}
{% load otree %}

{% block title %}
    Please read this before clicking "Accept"
{% endblock %}

{% block content %}

    <p>This HIT is an academic research study on decision making.</p>

    <p><em>Research goal:</em><br>In this study, we are interested in how people choose between different bets on uncertain outcomes.</p>

    <p><em>Duration:</em><br>The study takes roughly 5-10 minutes to complete and you will receive $0.75 via Amazon Mechanical Turk for successful completion.</p>

    <p><em>Confidentiality:</em><br>All data we collect is treated confidentially and will only be used for our research purpose. Your name will not be linked to the results in any way.</p>

    <p><em>Requirements:</em><br>To participate, you need to be located in the United States of America. You may not have participated in this study before. There are no other formal requirements for participation.</p>

    <p><em>Voluntary participation:</em><br>Participation in this study is voluntary. If you do not want to take part in the study, please do not accept the HIT. If you want to participate, please be sure you can commit to completing the HIT before accepting it.</p>

    <p><em>Contact:</em><br>If you have any questions regarding this study, please contact Christian Koenig (christian.koenig [at] awi.uni-heidelberg.de).</p>
{% endblock %}
